@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply flex min-h-screen flex-col bg-gradient-to-b from-gray-900 to-black; }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(242, 100, 255, 0.7);
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #000000;
  }
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(236, 23, 255, 0.2);
}

.swal2-popup {
  padding: 1.5rem 1rem !important;
  width: 25em !important;
  background: #000000;
}

@media only screen and (max-width: 767px) {
  .swal2-popup {
    padding: 1rem !important;
  }
}

.swal2-popup #swal2-title {
  color: #fff;
}

.swal2-popup .swal2-html-container {
  @apply my-4 text-lg;
  color: #fff;
  line-height: 30px !important;
  font-weight: 400 !important;
}

.swal2-popup .swal2-icon {
  margin: 0 auto;
}

.swal2-popup .swal2-actions {
  column-gap: 0.5rem;
}

.swal2-popup .swal2-actions button {
  min-width: 5rem;
  outline: none !important;
}

.swal2-popup .swal2-actions .swal2-confirm {
  background: #f264ff !important;
  border-radius: 30px !important;
  color: #fff !important;
}

.swal2-popup .swal2-actions .swal2-confirm:hover,
.swal2-popup .swal2-actions .swal2-confirm:focus {
  background: rgba(209, 19, 19, 0.9) !important;
  transform: scale(1.03) !important;
  box-shadow: #d1131380 0 0 0 4px !important;
}

.swal2-popup .swal2-actions .swal2-cancel {
  background: #e28513 !important;
  color: #fff !important;
  border-radius: 30px !important;
}

.swal2-popup .swal2-actions .swal2-cancel:hover {
  background: rgba(226, 133, 19, 0.7) !important;
}

.swal2-popup .swal2-actions .swal2-deny {
  border-radius: 30px !important;
}

.aniBtn svg {
  transition: all 0.1s ease-out 0s;
  display: block;
  position: relative;
  top: 2px;
  left: -1px;
  transform: translateZ(0);
  transition: color 0.2s ease-out 0s, transform 0.2s ease-out 0s;
}
.aniBtn svg circle {
  transform: translate(20%, -15%);
  transition: all 0.1s ease-out 0s;
}
.aniBtn svg path:last-of-type {
  transform-origin: 0px 0px;
  transform: scaleX(1.3) skewY(-12deg);
  opacity: 0;
  transition: color 0.2s ease-out 0s, transform 0.2s ease-out 0s;
}

.aniBtn:hover svg path,
.aniBtn:hover svg circle {
  opacity: 1;
  transform: none;
}

/* Breaking News Bar Animation */
@keyframes scroll-continuous {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-continuous {
  animation: scroll-continuous 49s linear infinite;
}
